<!DOCTYPE html>
<!-- saved from url=(0050)file:///home/shrot/Downloads/logincss/1/login.html -->
<html xmlns:g="http://www.w3.org/1999/html"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Online Movie DataBase</title>
    <style>
    body {
        background: url('http://webneel.com/daily/sites/default/files/images/daily/01-2016/25-the-nut-job-2-animation-movie-list-2016.jpg') no-repeat fixed center center;
        background-size: cover;
        font-family: Montserrat;
    }


    .block {
        width: 98%;
        height: 100%;
        padding: 20px;
        background-color:#B2BABB;
        border-radius: 5px;
        border-top: 5px solid #ff656c;
        border-bottom: 5px solid #ff656c;
        margin: 50px auto;
        opacity: 0.9;
    }

    #submit {
    width: 15%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    margin-left:20;
    float:right;
}
 .block button {
    width: 15%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    float:right;

}


    </style>
</head>

<body>


<div class="block">
    <h1>-------REQUEST FOR MOVIE EDIT-------</h1>
<g:form controller ="movie" action="update" method="POST">
    <table border="1px" bgcolor="#f1f1c1">
        <thead>
        <th>#ID</th>
        <th>TITLE</th>
        <th>SELECT</th>
        </thead>
        <tbody>

        <g:each var="movieD" in="${movieData}">
            <tr>
                <td>${movieD.id}</td>
                <td>${movieD.title}</td>
                <td><input type="radio" name="edit" value="${movieD.id}"></td>
            </tr>
        </g:each>
        </tbody>
    </table>



<g:actionSubmit value="request" action="request"/>
  <g:actionSubmit value="delete" action="delete"/>



</g:form>
    <g:link controller = "movie" action ="home"> <button> << BACK</button> </g:link>

</div>



</body>
</html>