<!DOCTYPE html>
<!-- saved from url=(0050)file:///home/shrot/Downloads/logincss/1/login.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Online Movie DataBase</title>
    <style>
body {
    background: url('http://webneel.com/daily/sites/default/files/images/daily/01-2016/25-the-nut-job-2-animation-movie-list-2016.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

.logo {
    font-size:18px;
    text-align: center;
    width: 800px;
    height: 55px;
    background-color:white;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    border-bottom: 5px solid #ff656c;
    margin: 20px auto;
}

.login-block {
    width: 400px;
    height: 330px;
    padding: 20px;
    background-color:#B2BABB;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    border-bottom: 5px solid #ff656c;
    margin: 50px auto;
    font-family: Montserrat;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    display:table-cell;
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}



.login-block button {
    width: 45%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    float: right;
}


#submit {
    width: 35%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    margin-left:20;
    float: left;
}

</style>
</head>

<body>

<div class="logo"><h3>Welcome to online Movie Database </h3></div>
<div class="login-block">
    <h1>Registration</h1>
    <g:form controller="login" action="registerUser" method="POST">
        <table>
            <tr>
                <td><label> Username <label></td> <td> <input type = "text" value="" placeholder="Username" name="username"></td>
            </tr>
            <tr>
                <td><label> Password <label></td> <td><input type = "password" value="" placeholder="Password" name="password"> </td>
            </tr>
            <tr>
                <td><label> Email    <label></td> <td> <input type = "email" value="" placeholder="email" name="email"> </td>
            </tr>
        </table>

        <input type="submit" value="Register" id="submit">

    </g:form>
    <g:link controller="login" action="index">
        <button><< Back</button>
    </g:link>

</div>



</body></html>

